<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/profile.css">
<h1><%= title %></h1>

<div class="all_creators">
    <div class="creator">
        <a href=""><img src="/images/BB.jpg" alt="BB ki wines"></a>
        <div class="profileContentContainer">
            <a href="">
                <div class="imageContent">
                    <p>BB ki Vines</p>
                    <span>Youtuber</span>
                </div>
            </a>
            <div class="like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
    </div>
    <div class="creator">
        <img src="/images/BB.jpg" alt="BB ki wines" width="200px" height="200px">
        <div class="profileContentContainer">
            <a href="">
                <div class="imageContent">
                    <p>BB ki Vines</p>
                    <span>Youtuber</span>
                </div>
            </a>
            <div class="like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
    </div>
    <div class="creator">
        <img src="/images/BB.jpg" alt="BB ki wines" width="200px" height="200px">
        <div class="profileContentContainer">
            <a href="">
                <div class="imageContent">
                    <p>BB ki Vines</p>
                    <span>Youtuber</span>
                </div>
            </a>
            <div class="like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
    </div>
    <div class="creator">
        <img src="/images/BB.jpg" alt="BB ki wines" width="200px" height="200px">
        <div class="profileContentContainer">
            <a href="">
                <div class="imageContent">
                    <p>BB ki Vines</p>
                    <span>Youtuber</span>
                </div>
            </a>
            <div class="like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
    </div>
    <div class="creator">
        <img src="/images/BB.jpg" alt="BB ki wines" width="200px" height="200px">
        <div class="profileContentContainer">
            <a href="">
                <div class="imageContent">
                    <p>BB ki Vines</p>
                    <span>Youtuber</span>
                </div>
            </a>
            <div class="like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
    </div>
</div>