

body{
    background-color: #ec9a9a;
    text-align: center;
    font-family: sans-serif;
}
p{
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(12, 59, 97);
    margin: 30px 10px;
}
p span{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3e2705;
    text-decoration:underline;

}

.donation_container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    width: 30%;
    min-height: 200px;
    padding: 20px;
    background-color: #d957575c;
}

.donation_container input{
    border: none;
    margin: 10px;
    width: 90%;
    border-radius: 4px;
    padding: 10px;
}

.donation_container button{
    border: none;
    padding: 6px 15px;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

.donation_container button:hover{
    background-color: #5186b1;
    cursor: pointer;
}